<!doctype html>
<html>
<head>
  <title>GLITCHWIZARD</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
  <link rel="stylesheet" href="/stylesheets/thumbnailgrid.css">
  <link rel="stylesheet" href="/stylesheets/glitchfeed.css">

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-40310827-3', 'glitchwizard.com');
    ga('send', 'pageview');
  </script>

  <style>
    body    { padding-top:80px; }
  </style>
</head>
<body>
<div class="container">
  <h1>GLITCHWIZARD</h1>
  <h2> Another Project by <a href="http://toughguymountain.com">Tough Guy Mountain</a></h2>
  Glitchwizard is, as of May 3rd 2014, in a private beta. Check out what our wizards have been glitching at each other!
  <br />
      <% for(var i = 0; i < glitches.length; i++) {%>
      <a href="<%= glitches[i].resourcePath %>"><img class="box" src="<%= glitches[i].resourcePath %>"></a>
      <% } %>
</div>
</body>
</html>
