<!doctype html>
<html>
<head>
  <title>GLITCHWIZARD</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
  <style>
    body    { padding-top:80px; }
  </style>
</head>
<body>
<div class="container">
  <h1>GLITCHWIZARD</h1><h2> Another Project by <a href="http://toughguymountain.com">Tough Guy Mountain</a></h2>
  <div class="jumbotron text-center">
    <ul>
      <% for(var i = 0; i < glitches.length; i++) {%>
        <li><img src="<%= glitches[i].resourcePath %>"></li>
      <% } %>
    </ul>
  </div>

</div>
</body>
</html>
